body {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 120%;
}

a {
    color: lightcoral;
    text-decoration: none;
    transition: color 0.1s;
}

a:hover {
    color:lightpink;
}

